.registerPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  background-color: rgb(245, 245, 245);
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
}

.registerPage form {
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  max-width: 500px;
  width: 100%;
  padding: 20px;
}

.registerPage input {
  font-family: inherit;
  height: 30px;
  padding: 0 10px;
}

.registerPage label {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 90%;
  font-weight: 600;
  position: relative;
}

.registerPage .symbol {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.registerPage .symbol svg {
  height: 20px;
  width: 20px;
}

.registerPage img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  align-self: center;
}

.registerPage input.valid {
  border: green 2px solid;
  border-radius: 5px;
}

.registerPage input.invalid {
  border: red 2px solid;
  border-radius: 5px;
}

.registerPage .symbol.valid {
  color: green;
}

.registerPage .symbol.invalid {
  color: red;
}

.registerPage .error {
  color: red;
  font-size: 16px;
  font-weight: 600;
  text-align: justify;
}
